<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio Alumnos</title>
    <link rel="stylesheet" href="../CSS/styledash.css">
    <link rel="stylesheet" href="../CSS/tarjetas.css">
    <link rel="stylesheet" href="../CSS/Cronograma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <section  class="sidebar" id="sidebar">
        <nav class="nav">
            <div class="sideBar-title">
                N.V Coordination
            </div>
            <div class="sideBar-UserInfo">
                <figure class="sidebar-photo">
                    <img src="../img/user.jpg" alt="Userphoto">
                    <p>User Name</p>
                    <a href="../Views/Información_personal_Alum.html" class="btn_img"><i class="fa-solid fa-user-pen" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                    <a href="../index.html" class="btn_img"><i class="fa-solid fa-right-from-bracket" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                </figure>
            </div>
            <ul class="Barra-lateral"> 
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/dashboardAlumn.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-house"></i>
                            Menu</a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/ver_horario_alum.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-calendar"></i>
                            Ver Horario
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/actividadesAlum.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-book-open"></i>
                            Mis Actividades
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/Inscripción.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Inscripciones
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/reportes-alumno.html" class="Barra-lateral_link">
                            <i class="fa-sharp fa-solid fa-file"></i>
                            Reportes
                        </a>
                    </div>   
                </li>
            </ul>
        </nav>   
    </section>
    <section class="conte-pagina" id="conte-pagina">
        <nav class="Barra-nav">
            <ul>
                <li>
                    <a href="#!" class="toggle-btn" id="btn_open"><img src="../boxcoins/bx-menu.svg"></a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../img/jugador-de-futbol.png">
                </figure>
                <div class="contenido">
                    <h3>Futbol pequeños</h3>
                    <p>El triunfo no esta en vencer siempre, sino en nunca desanimarse. </p>
                    <a href="#" id="agre_crono">Inscribirse</a>
                </div>
            </div>
            <div class="card_d">
                <figure>
                    <img src="../img/jugadores-de-futbol.png">
                </figure>
                <div class="contenido">
                    <h3>Futbol grandes</h3>
                    <p> Ningun jugador es tan bueno como todos juntos.</p>
                    <a href="#" id="btn_regis">Inscribirse</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/musica-romantica.png">
                </figure>
                <div class="contenido">
                    <h3>Musica pequeños</h3>
                    <p>La musica es el arte mas directo.</p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card_d">
                <figure>
                    <img src="../img/musica-romantica.png">
                </figure>
                <div class="contenido">
                    <h3>Musica grandes</h3>
                    <p>El mejor sonido para nuestros oidos es la musica.</p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/fotografia.png">
                </figure>
                <div class="contenido">
                    <h3>Fotografia</h3>
                    <p>La foto perfecta es aquella que capta momentos inolvidables. </p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card_d">
                <figure>
                    <img src="../img/manicura.png">
                </figure>
                <div class="contenido">
                    <h3>Manicure</h3>
                    <p> Al mal tiempo uñas lindas. </p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/cepillo-para-tinte-de-cabello.png">
                </figure>
                <div class="contenido">
                    <h3>Peinados</h3>
                    <p>La vida es mas bonita cuando te haces un peinado.</p> 
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card_d">
                <figure>
                    <img src="../img/natacion-sincronizada.png">
                </figure>
                <div class="contenido">
                    <h3>Natacion</h3>
                    <p>Lo que hunde tambien te puede enseñar a nadar.</p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="../img/panadero.png">
                </figure>
                <div class="contenido">
                    <h3>Panaderia</h3>
                    <p>Para tu paladar un rico pan.</p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
            <div class="card_d">
                <figure>
                    <img src="../img/fondo.png">
                </figure>
                <div class="contenido">
                    <h3>Emprendimiento</h3>
                    <p>Lo unico imposible es aquello que no intentas.</p>
                    <a href="#">Inscribirse</a>
                </div>
            </div>
        </div>
    </section>
    <section class="modal_regis-d">
        <div class="modal_container">
            <img src="../img/Quality Check_Outline.svg" class="modal_img">
            <h2 class="modal_tittle">¿Estás seguro que quieres inscribirte a esta actividad</h2>
            <p class="modal_paragraph">Si opime el boton "inscribirme" usted empezará a ser parte de dicha actividad automaticamente</p>
            <div class="content_modal_b">
                <a href="#" class="modal_close_actu" id="close_modal_regis">Cancelar</a>
                <a href="#" class="modal_close_actu" id="Regis">Inscribirme</a>
            </div>
        </div>
    </section>
    <section class="modal_confir_regi">
        <div class="modal_container">
            <input type="checkbox" id="cerrar">
            <label for="cerrar" id="btn-cerrar">X</label>
            <img src="../img/Checklist_Line.svg" class="modal_img">
            <h2 class="modal_tittle">¡Felicidades!</h2>
            <p class="modal_paragraph">La inscripción se ha realizado correctamente, ya eres parte de la lista de inscritos al sistema</p>
        </div>
    </section>
    <section class="modal_confir_cro">
        <div class="modal_container">
            <input type="checkbox" id="cerrar">
            <label for="cerrar" id="btn-cerrar">X</label>
            <img src="../img/Ban_Flat.svg" class="modal_img">
            <h2 class="modal_tittle">Lo séntimos</h2>
            <p class="modal_paragraph">Está actividad ya ha llegado a su límite de cupos</p>
        </div>
    </section>
    <script src="../Js/main.js" charset="utf-8"></script>
    <script src="../Js/mensaje.js" charset="utf-8"></script>
</body>
</html>