<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Recuperar Contraseña</title>
</head>
<body id="RecuperarContra">
    <fieldset class="caja-recuperar">
        <legend>Recuperar Contraseña</legend>
        <div class="inputs-recuperar">
            <input type="email" id="contrasenaa" placeholder="Ingrese su correo" required>
            <input type="email" id="contrasenaa_con" placeholder="Ingrese nuevamente su correo" required>
            <button type="submit" onclick="validar()">Restablecer Contraseña</button>
        </div>
    </fieldset>
    <script type="text/javascript">
        function validar(){
            var contra = document.getElementById("contrasenaa").value;
            var confir_contra = document.getElementById("contrasenaa_con").value;

            if(contra.length===0 || confir_contra.length===0){
                swal.fire
                ({
                    title:'Error',
                    icon:'error',
                    confirmButtonText:'Cerrar',
                    text:'Todos los espacios son obligatorios',
            
            
                });
            }
            else if(contra !== confir_contra){
                swal.fire({
                    title:'Error',
                    icon:'error',
                    text:'Las contraseñas no coniciden'

                });
            }
            else{
                swal.fire({
                    title:'Felicidades',
                    icon:'success',
                    text:'La nueva contraseña ha sido enviada al correo'

                });
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>