<!DOCTYPE html>
<html lang="es">
<head>
	<title>Registrar Alumno</title>
    <link rel="stylesheet" href="../CSS/styledash.css">
    <link rel="stylesheet" href="../CSS/info.css">
    <link rel="stylesheet" href="../CSS/Cronograma.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
</head>
<body>
    <section  class="sidebar" id="sidebar">
        <nav class="nav">
            <div class="sideBar-title">
                N.V Coordination
            </div>
            <div class="sideBar-UserInfo">
                <figure class="sidebar-photo">
                    <img src="../img/user.jpg" alt="Userphoto"><br>
                    <p>User Name</p>
                    <a href="../Views/Informacion_personal_admin.html" class="btn_img"><i class="fa-solid fa-user-pen" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                    <a href="../index.html" class="btn_img"><i class="fa-solid fa-right-from-bracket" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                </figure>
            </div>
            <ul class="Barra-lateral"> 
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <img src="../boxcoins/bxs-dashboard.svg" class="Barra-lateral_img">
                        <a href="../Views/dashboardAdmin.html" class="Barra-lateral_link">Menu</a>
                    </div>   
                </li>
                <li class="Barra-lateral_item Barra-lateral_item-click">
                    <div class="Barra-lateral_button Barra-lateral_button--click">
                        <img src="../boxcoins/bxs-registered.svg" class="Barra-lateral_img">
                        <a href="#!" class="Barra-lateral_link">Registros</a>
                        <img src="../boxcoins/arrow.svg" class="Barra-lateral_arrow">
                    </div>
                    <ul class="Barra-lateral_show">
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Registrar_alumno.html" class="Barra-lateral_link Barra-lateral_link--inside">Registro Alumno</a>
                        </li>
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Registrar_Docente.html" class="Barra-lateral_link Barra-lateral_link--inside">Registro Docente</a>
                        </li>
                    </ul>
                </li>
                <li class="Barra-lateral_item Barra-lateral_item-click">
                    <div class="Barra-lateral_button Barra-lateral_button--click">
                        <img src="../boxcoins/bxs-extension.svg" class="Barra-lateral_img">
                        <a href="#!" class="Barra-lateral_link">Actividades</a>
                        <img src="../boxcoins/arrow.svg" class="Barra-lateral_arrow">
                    </div>
                    <ul class="Barra-lateral_show">
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Agregar_actividad.html" class="Barra-lateral_link Barra-lateral_link--inside">Agregar</a>
                        </li>
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Eliminar_actividad.html" class="Barra-lateral_link Barra-lateral_link--inside">Eliminar</a>
                        </li>
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Ver_listas.html" class="Barra-lateral_link Barra-lateral_link--inside">Listas</a>
                        </li>
                    </ul>
                </li>
                <li class="Barra-lateral_item Barra-lateral_item-click">
                    <div class="Barra-lateral_button Barra-lateral_button--click">
                        <img src="../boxcoins/bxs-calendar.svg" class="Barra-lateral_img">
                        <a href="#!" class="Barra-lateral_link">Horario</a>
                        <img src="../boxcoins/arrow.svg" class="Barra-lateral_arrow">
                    </div>
                    <ul class="Barra-lateral_show">
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Hacer cronogrmas.html" class="Barra-lateral_link Barra-lateral_link--inside">Hacer cronograma</a>
                        </li>
                        <li class="Barra-lateral_inside">
                            <a href="../Views/Ver_horario.html" class="Barra-lateral_link Barra-lateral_link--inside">Ver horario</a>
                        </li>
                    </ul>
                </li> 
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <img src="../boxcoins/bxs-data.svg" class="Barra-lateral_img">
                        <a href="../Views/Historial_de_Usuario.html" class="Barra-lateral_link">Historial de Usuarios</a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <img src="../boxcoins/bxs-report.svg" class="Barra-lateral_img">
                        <a href="../Views/Enviar_Reportes.html" class="Barra-lateral_link">Reportes</a>
                    </div>   
                </li>
            </ul>
        </nav>   
    </section>
    <section class="conte-pagina" id="conte-pagina">
        <nav class="Barra-nav">
            <ul>
                <li>
                    <a href="#!" class="toggle-btn" id="btn_open"><img src="../boxcoins/bx-menu.svg"></a>
                </li>
            </ul>
        </nav> 
        <div>
			<div class="info-text">
			  <h1>Registro de alumnos</h1>
			</div>
		</div>
        <div>
            <form class="cont_info">
                    <legend class="info_title">Información Alumno</legend>
                <div class="info_form">
                    <div>
                        <label for="pname">Nombres</label>
                        <input id="pname" type="text" name="p_nombre">
                    </div>
                    <div>
                        <label for="psurname">Apellidos</label>
                        <input id="psurname" type="text" name="p_apellido">
                    </div>
                    <div>
                        <label for="tdocument">Tipo de documento</label>
                        <select id="tdocument">
                            <option selected value="CC">C.C</option>
                            <option value="CE">C.E</option>
                        </select>
                    </div>
                    <div>
                        <label for="ndocument">Numero de documento</label>
                        <input id="ndocument" type="text" name="ndocument">
                    </div>
                    <div>
                        <label for="ncelular">Numero de celular</label>
                        <input id="ncelular" type="text" name="ncelular">
                    </div>
                    <div>
                        <label for="email">Correo Electronico</label>
                        <input id="email" type="email" name="email">
                    </div>
                    <div>
                        <label for="date_nacimiento">Fecha de nacimiento</label>
                        <input id="date_nacimiento" type="date" name="date_nacimiento">
                    </div>
                </div>
                <div class="form-genero">
                    <p>Genero</p>
                    <div class="generos">
                        <input type="radio" name="optionsGenero" id="optionsRadios1">
                        <label for="optionsRadios1"><span class="radio-button"></span>Masculino</label>
                    </div>
                    <div class="generos">
                        <input type="radio" name="optionsGenero" id="optionsRadios2">
                        <label for="optionsRadios2"><span class="radio-button"></span>Femenino</label>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <form class="cont_info">
                <legend class="info_title">Información Acudiente</legend>
                <div class="info_form">
                    <div>
                        <label for="pname-a">Nombres</label>
                        <input id="pname-a" type="text" name="p_nombre-a">
                    </div>
                    <div>
                        <label for="psurname-a">Apellidos</label>
                        <input id="psurname-a" type="text" name="p_apellido-a">
                    </div>
                    <div>
                        <label for="tdocument-a">Tipo de documento</label>
                        <select id="tdocument-a">
                            <option selected value="CC">C.C</option>
                            <option value="CE">C.E</option>
                        </select>
                    </div>
                    <div>
                        <label for="ndocument-a">Numero de documento</label>
                        <input id="ndocument-a" type="text" name="ndocument" value="1035692486">
                    </div>
                    <div>
                        <label for="ncelular-a">Numero de celular</label>
                        <input id="ncelular-a" type="text" name="ncelular">
                    </div>
                    <div>
                        <label for="email-a">Correo Electronico</label>
                        <input id="email-a" type="email" name="email">
                    </div>
                    <div>
                        <label for="date_nacimiento-a">Fecha de nacimiento</label>
                        <input id="date_nacimiento-a" type="date" name="date_nacimiento">
                    </div>
                </div>
                <div class="form-genero">
                    <p>Genero</p>
                    <div class="generos">
                        <input type="radio" name="optionsGenero-a" id="optionsRadios1-a">
                        <label for="optionsRadios1"><span class="radio-button"></span>Masculino</label>
                    </div>
                    <div class="generos">
                        <input type="radio" name="optionsGenero-a" id="optionsRadios2-a" checked="">
                        <label for="optionsRadios2"><span class="radio-button"></span>Femenino</label>
                    </div>
                </div>
                <div class="btn_crono"><button type="submit" id="btn_regis">Registrar</button></div>
            </form>
        </div>
    </section>
    <section class="modal_regis-d">
        <div class="modal_container">
            <img src="../img/Quality Check_Outline.svg" class="modal_img">
            <h2 class="modal_tittle">¿Estas seguro de registrar a esta persona?</h2>
            <p class="modal_paragraph">Una vez registrado a la persona le llegara la contraseña de ingreso al correo registrado</p>
            <div class="content_modal_b">
                <a href="#" class="modal_close_actu" id="close_modal_regis">Cancelar</a>
                <a href="#" class="modal_close_actu" id="Regis">Registrar</a>
            </div>
        </div>
    </section>
    <section class="modal_confir_regi">
        <div class="modal_container">
            <input type="checkbox" id="cerrar">
            <label for="cerrar" id="btn-cerrar">X</label>
            <img src="../img/Checklist_Line.svg" class="modal_img">
            <h2 class="modal_tittle">¡Felicidades!</h2>
            <p class="modal_paragraph">Se ha registrado correctamente al la persona</p>
        </div>
    </section>
    <script src="../Js/main.js" charset="utf-8"></script>
    <script src="../Js/vali_alum.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>