<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pro NV/Inicio proyecto/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Pre-Registro</title>
</head>
<body id="Registro">
    <div class="Tittle-registro">
        <h1>Pre-Registro</h1>
    </div>
    <form class="form-registro" id="form-registro">
        <fieldset class="estudiante">
            <legend>Datos del ecudiente</legend><br>
            <div class="inputs">
                <div class="Tipo-Documento" id="form_tip">
                    <select id="tipo_doct" name="tipo_doct">
                        <option value="">Seleccione su tipo de documento</option>
                        <option value="RC">RC</option>
                        <option value="TI">TI</option>
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                        <option value="PEP">PEP</option>
                    </select>
                </div>
                <div class="formulario_div" id="form_id">
                    <input type="text" id="id_usuario" class="formulario_inputs" name="id_usuario" class="formulario_inputs" placeholder="Ingrese su numero de identificación" required>
                    <i class="fa-solid fa-circle-check form_estado"></i>
                </div>
                <div class="formulario_div" id="form_nombre1">
                    <input type="text" id="p_nombre" class="formulario_inputs" name="p_nombre" class="formulario_inputs" placeholder="Ingrese sus nombres" required>
                    <i class="fa-solid fa-circle-check form_estado"></i>
                </div>
                <div class="formulario_div" id="form_apellido1">
                    <input type="text" id="p_apellido" class="formulario_inputs" name="p_apellido" class="formulario_inputs" placeholder="Ingrese sus apellidos" required>
                    <i class="fa-solid fa-circle-check form_estado"></i>
                </div>
                <div class="formulario_div" id="form_nacimiento">
                    <input id="date_nacimiento" type="date" class="formulario_inputs" name="date_nacimiento" class="formulario_inputs" required>
                </div>
                <div class="genero" id="form_genero">
                    <select id="gene" name="gene">
                        <option value="">Seleccione su genero</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="formulario_div" id="form_correo">
                    <input type="email" id="correo" class="formulario_inputs" name="correo" placeholder="Ingrese su correo" class="formulario_inputs" required>
                    <i class="fa-solid fa-circle-check form_estado"></i>
                </div>
                <div class="formulario_div" id="form_celular">
                    <input type="tel" id="celular_usuario" class="formulario_inputs" name="celular_usuario" placeholder="Ingrese su telefono" class="formulario_inputs" required>
                    <i class="fa-solid fa-circle-check form_estado"></i>
                </div>
                <button type="button" id="btn_envi" disabled="">Enviar</button>
            </div>    
        </fieldset> 
    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../Js/validar_registro.js"></script>
</body>
</html>