<!DOCTYPE html>
<html lang="es">
<head>
	<title>Reportes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/styledash.css">
    <link rel="stylesheet" href="../CSS/actividadesAlum.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <section  class="sidebar" id="sidebar">
        <nav class="nav">
            <div class="sideBar-title">
                N.V Coordination
            </div>
            <div class="sideBar-UserInfo">
                <figure class="sidebar-photo">
                    <img src="../img/user.jpg" alt="Userphoto">
                    <p>User Name</p>
                    <a href="../Views/Información_personal_Alum.html" class="btn_img"><i class="fa-solid fa-user-pen" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                    <a href="../index.html" class="btn_img"><i class="fa-solid fa-right-from-bracket" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                </figure>
            </div>
            <ul class="Barra-lateral"> 
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/dashboardAlumn.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-house"></i>
                            Menu</a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/ver_horario_alum.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-calendar"></i>
                            Ver Horario
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/actividadesAlum.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-book-open"></i>
                            Mis Actividades
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/Inscripción.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Inscripciones
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/reportes-alumno.html" class="Barra-lateral_link">
                            <i class="fa-sharp fa-solid fa-file"></i>
                            Reportes
                        </a>
                    </div>   
                </li>
            </ul>            
        </nav>   
    </section>
    <section class="conte-pagina" id="conte-pagina">
        <nav class="Barra-nav">
            <ul>
                <li>
                    <a href="#!" class="toggle-btn" id="btn_open"><img src="../boxcoins/bx-menu.svg"></a>
                </li>
            </ul>
        </nav> 
		<div class="info-text">
			<h1>Mis actividades</h1>
		</div>
        <table class="table table-striped table-bordered border-info">
            <thead>
                <tr>
                  <th>Nombre Actividad</th>
                  <th>Jornada</th>
                  <th>Profesor</th>
                  <th>fallas</th>
                  <th>puntos</th>
                  <th>observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td class="align-middle">Fotografia</td>
                    <td class="align-middle">Tarde</td>
                    <td class="align-middle">Andres</td>
                    <td class="align-middle">4</td>
                    <td class="align-middle">20</td>
                    <td>-Llega tarde usualmente a las clases y ha tenido varios llamados de atencion.<br>
                        -Tiene un excelente rendimiento en las clases.<br>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">Futbol Grandes</td>
                    <td class="align-middle">Tarde</td>
                    <td class="align-middle">Larry Herrera</td>
                    <td class="align-middle">0</td>
                    <td class="align-middle">40</td>
                    <td class="align-middle">-Tiene un rendimiento optimo en cada entrenamiento.<br>
                        -Es colaborativo y sabe jugar en equipo.<br>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">Refuerzo Escolar</td>
                    <td class="align-middle">Tarde</td>
                    <td class="align-middle"></td>
                    <td class="align-middle">5</td>
                    <td class="align-middle">0</td>
                    <td>-No presta atencion en los refuersos y ha agredido a sus compañeros.<br>
                        -No cumple con los ejercicios planteados para mejorar.<br>
                    </td>
                </tr>

              </tbody>
          </table>
          <div class="text-center">
            <button class="btn btn-success btn-sm btn_imp" id="btn_regis">Imprimir</button>
          </div>
    </section>
    <section class="modal_regis-d">
        <div class="modal_container">
            <img src="../img/Quality Check_Outline.svg" class="modal_img">
            <h2 class="modal_tittle">¿Estas seguro de imprimir tu reporte?</h2>
            <p class="modal_paragraph">El reporte se generara una vez le des a "imprimir"</p>
            <div class="content_modal_b">
                <a href="#" class="modal_close_actu" id="close_modal_regis">Cancelar</a>
                <a href="#" class="modal_close_actu" id="Regis">Imprimir</a>
            </div>
        </div>
        <section class="modal_confir_regi">
            <div class="modal_container">
                <input type="checkbox" id="cerrar">
                <label for="cerrar" id="btn-cerrar">X</label>
                <img src="../img/Checklist_Line.svg" class="modal_img">
                <h2 class="modal_tittle">¡Felicidades!</h2>
                <p class="modal_paragraph">Se ha imprimido el reporte</p>
            </div>
        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="../Js/main.js" charset="utf-8"></script>
    <script src="../Js/mensaje.js" charset="utf-8"></script>
</body>
</html>