<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio Alumnos</title>
    <link rel="stylesheet" href="../CSS/styledash.css">
    <link rel="stylesheet" href="../CSS/Cronograma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <section  class="sidebar" id="sidebar">
        <nav class="nav">
            <div class="sideBar-title">
                N.V Coordination
            </div>
            <div class="sideBar-UserInfo">
                <figure class="sidebar-photo">
                    <img src="../img/user.jpg" alt="Userphoto">
                    <p>User Name</p>
                    <a href="../Views/Información_personal_Alum.html" class="btn_img"><i class="fa-solid fa-user-pen" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                    <a href="../index.html" class="btn_img"><i class="fa-solid fa-right-from-bracket" style="margin:10px 20px 0 0; font-size: 20px;"></i></a>
                </figure>
            </div>
            <ul class="Barra-lateral"> 
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/dashboardAlumn.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-house"></i>
                            Menu</a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/ver_horario_alum.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-calendar"></i>
                            Ver Horario
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/actividadesAlum.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-book-open"></i>
                            Mis Actividades
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/Inscripción.html" class="Barra-lateral_link">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Inscripciones
                        </a>
                    </div>   
                </li>
                <li class="Barra-lateral_item">
                    <div class="Barra-lateral_button">
                        <a href="../Views/reportes-alumno.html" class="Barra-lateral_link">
                            <i class="fa-sharp fa-solid fa-file"></i>
                            Reportes
                        </a>
                    </div>   
                </li>
            </ul>
        </nav>   
    </section>
    <section class="conte-pagina" id="conte-pagina">
        <nav class="Barra-nav">
            <ul>
                <li>
                    <a href="#!" class="toggle-btn" id="btn_open"><img src="../boxcoins/bx-menu.svg"></a>
                </li>
            </ul>
        </nav> 
        <div>
			<div class="info-text">
			  <h1>Horario</h1>
			</div>
		</div> 
        <table>
            <tr>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sabado</th>
            </tr>
            <tr>
                <td>
                    <div class="horario-actividad">
                        <strong>Refuerzo escolar</strong>
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">8:00 am</p>
                        <p>Hora Final:</p><p class="horario-final">10:00 am</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">por asignar</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Refuerzo escolar</strong>
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">8:00 am</p>
                        <p>Hora Final:</p><p class="horario-final">10:00 am</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">por asignar</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Refuerzo escolar</strong>
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">8:00 am</p>
                        <p>Hora Final:</p><p class="horario-final">10:00 am</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">por asignar</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Refuerzo escolar</strong>
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">8:00 am</p>
                        <p>Hora Final:</p><p class="horario-final">10:00 am</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">por asignar</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Refuerzo escolar</strong> 
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">8:00 am</p>
                        <p>Hora Final:</p><p class="horario-final">10:00 am</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">por asignar</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Robotica</strong>
                    </div>
                    <div class="horario-lugar">
                        Tercer piso fundación
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">10:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">12:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Didier Garcia</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="horario-actividad">
                        <strong>Fotografia</strong>
                    </div>
                    <div class="horario-lugar">
                        Tercer piso fundación
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">3:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">5:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Andres Arias</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Emprendimiento</strong>
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">9:00 am</p>
                        <p>Hora Final:</p><p class="horario-final">10:00 am</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Daniel Buitrago</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Emprendimiento</strong>
                    </div>
                    <div class="horario-lugar">
                        FNVPT
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">4:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">5:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Daniel Buitrago</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Futbol Pequeños</strong>
                    </div>
                    <div class="horario-lugar">
                        Cancha F5
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">4:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">6:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Larry Herrera</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Danza</strong>
                    </div>
                    <div class="horario-lugar">
                        Tercer piso fundación
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">3:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">5:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Angelica Mendoza</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Estimulación pequeños</strong>
                    </div>
                    <div class="horario-lugar">
                        Espacio Pendiente
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">10:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">12:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Lorena Cardenas</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="horario-actividad">
                        <strong>Futbol Grandes</strong>
                    </div>
                    <div class="horario-lugar">
                        Cancha F11
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">3:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">5:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Larry Herrera</p>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="horario-actividad">
                        <strong>Artes</strong>
                    </div>
                    <div class="horario-lugar">
                        Primer piso Fundación
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">3:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">5:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Marlon Baez</p>
                    </div>
                </td>
                <td>
                    <div class="horario-actividad">
                        <strong>Exploración Musical</strong>
                    </div>
                    <div class="horario-lugar">
                        Tercer piso fundación
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">2:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">4:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Camilo Moreno</p>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="horario-actividad">
                        <strong>Musica Grandes</strong>
                    </div>
                    <div class="horario-lugar">
                        Tercer piso fundación
                    </div>
                    <div>
                        <p>Hora Inicio:</p><p class="horario-inicio">4:00 pm</p>
                        <p>Hora Final:</p><p class="horario-final">6:00 pm</p>
                    </div>
                    <div>
                        <p>Docente:</p><p class="horario-docente">Camilo Moreno</p>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </section>
    <script src="../Js/main.js" charset="utf-8"></script>
</body>
</html>