.info-text-Actividades{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin: 5px 0;
}

ol,ul{
    padding-left: 0;
}

.barra-lateral{
    height: 50vh;
}


.btn-success{
    margin: 0 0 5px 0;
}

.btn_imp{
    background-color: #8b0fff;
    border-color: #8b0fff;
}

.modal_cronograma,
.modal_confir_cro,
.modal_regis-d,
.modal_confir_regi{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal_actualizar-show{
    opacity: 1;
    pointer-events: inherit;
}

.modal_container{
    width: 70%;
    max-width: 350px;
    background-color: #fff;
    margin: auto;
    border-radius: 6px;
    padding: 20px;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal_tittle{
    font-size: 24px;
}

.modal_paragraph{
    margin-bottom: 10px;
}

.modal_img{
    width: 55%;
    max-width: 170px;
}

.content_modal_b{
    float: left;
    gap: 1em;
}

.modal_close_actu{
    text-decoration: none;
    color: #fff;
    background-color: #8b0fff;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close_actu:hover{
    color: #8b0fff;
    background-color: #fff;
}

#cerrar{
    display: none;
}

#cerrar + label{
    position: relative;
    font-size: 23px;
    z-index: 50;
    left: 145px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #fcb900 ;
}

#cerrar + label:hover{
    background-color: #fcb900;
    color: white;
}