*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

table{
    width: 90%;
    height: 200px;
    font-size: 15px;
    border: 3px;
    border-collapse: collapse ;
    margin:  60px 10px 10px 25px;
    line-height: 25px;
    margin-bottom: 50px;
}

.activi_tittle_t{
    background-color: #8b0fff;
    color: white;
    text-align: center;
}

td{
    border: solid 1px #fcb900;
    padding: 5px;
}

th{
    background-color: #8b0fff;
    color: white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: #eee;
}

.horario-actividad{
    text-align: center;
    font-size: 17px;
}

.horario-lugar,
.horario-inicio,
.horario-final,
.horario-docente{
    color: #f95353;
}

.form_crono{
    width: 1000px;
	max-height: 1000px;
	background-color: #fff;
	position: relative;
	box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
    cursor: pointer;
	margin: 20px 65px 20px 35px;
    padding: 15px 15px 10px 20px;
}

.crono_title{
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #fcb900;
    margin-bottom: 20px;
}

.info_crono{
    line-height: 70px;
    font-size: 17px;
    padding-left: 25px;
    display: inline-block;
}

.info_crono div{
    float: left;
    padding-right: 50px;
    margin-bottom: 20px;
}

.info_crono div input,
.info_crono div select{
    width: 400px;
    padding-right: 20px;
    border: none;
    border-bottom: 2px solid #fcb900;
    display: flex;
    outline: 0;
    background: transparent;
    position: relative;
}

.info_crono div p,
.info_crono div label{
    padding-right: 30px;
    position: relative;
}

.form-genero{
    display: block;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    margin: 20px 0 20px 25px;
}

.generos,
.form-genero p{
    margin-bottom: 25px;
}

.generos input{
    display: none;
}

.generos label{
    display: flex;
    gap: 15px;
}

.radio-button{
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    position: relative;
 }

 .radio-button::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #8b0fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

input:checked + label .radio-button::after{
    opacity: 1;
}

button{
    background-color: #8b0fff;
    font-size: 14px;
    color:rgb(241, 236, 236);
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(254, 1, 136, 0.132);
    margin: 30px 0 20px 20px;
    padding: 15px;
    left: 30px ;
    cursor: pointer;
}

.btn{
    display: flex;
}

.btn button{
    justify-content: center;
}

.modal_cronograma,
.modal_confir_cro,
.modal_regis-d,
.modal_confir_regi{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal_actualizar-show{
    opacity: 1;
    pointer-events: inherit;
}

.modal_container{
    width: 70%;
    max-width: 350px;
    background-color: #fff;
    margin: auto;
    border-radius: 6px;
    padding: 20px;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal_tittle{
    font-size: 24px;
}

.modal_paragraph{
    margin-bottom: 10px;
}

.modal_img{
    width: 55%;
    max-width: 170px;
}

.content_modal_b{
    float: left;
    gap: 1em;
}

.modal_close_actu{
    text-decoration: none;
    color: #fff;
    background-color: #8b0fff;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close_actu:hover{
    color: #8b0fff;
    background-color: #fff;
}

#cerrar{
    display: none;
}

#cerrar + label{
    position: relative;
    font-size: 23px;
    z-index: 50;
    left: 145px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #fcb900 ;
}

#cerrar + label:hover{
    background-color: #fcb900;
    color: white;
}


