body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, #5c829f,#ffcef5) ;
}

.logo-login{
    text-align: center;
    margin: 5px 0;
}

.logo-login img{
    max-width: 120px;
    margin-top: 30px;
    border-radius: 80%;
    box-shadow: inset(grey);
    background: transparent;
}

.login-form{
    max-width: 350px;
    margin: 75px auto;
    padding: 15px;
    background:rgba(216, 90, 31, 0.212);
    border: 1px solid darkblue;
    border-radius: 10px;
    box-shadow: 3px 3px 18px whitesmoke;
}

.login-form h2{
    text-align: center;
}

.Login-inputs input[type="text"],
input[type="password"]{
    width: 96%;
    height: 25px;
    padding: 5px;
    color: black;   
    margin-bottom: 10px;
    border:none;
    background: white;
    border-radius: 9px;
    outline: none;
}

.login-form .btnenviar{
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    background: #b1d5ff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.login-form .btnenviar:hover{
    border: 2px solid blue;
}

.login-form a{
    margin: 0 10px 5px 0;
    color: black;
    outline: none ;
    text-decoration: none;
}

.login-form a:hover{
    color: darkblue;
    text-decoration:underline;
}

/*Empieza el estilo de Registro*/

#Registro{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Tittle-registro h1{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.form-registro{
    max-width: 450px;
    min-width: 320px;
    margin: 30px auto;
    background:rgba(216, 90, 31, 0.212);
    border: 1px solid darkblue;
    border-radius: 10px;
    box-shadow: 3px 3px 18px whitesmoke;
}
.estudiante,.acudiente{
    display: block;
    margin: 12px auto;
    max-width: 400px;
    border: none;
}

.inputs input{
    display: block;
    margin: 0 auto;
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border:none;
    outline: none;
    background: #c6d9e0;

}

.Tipo-Documento select, .genero select{
    margin-left: 30px;
    padding: 5px;
    margin-bottom: 15px;
    width: 70%;
}

button{
    margin-left: 20px;
    width: 90%;
    padding: 8px;
    border-radius: 10px;
    background: #b1d5ff;
    border: none;
    outline: none;
    cursor: pointer;
}

.inputs button:hover{
    border: darkgreen;
}  

.form_estado {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario_div-incorrecto .formulario_inputs{
    border: 3px solid #bb2929;
}

.formulario_div-correcto .formulario_inputs{
    border: 3px solid #1ed12d;
}


/*Empieza el css de recuperar contraseña*/

#RecuperarContra{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.caja-recuperar{
    margin: 220px auto;
    max-width: 450px;
    background:rgba(216, 90, 31, 0.212);
    border: 1px solid darkblue;
    border-radius: 10px;
    box-shadow: 3px 3px 18px whitesmoke;
}

.caja-recuperar legend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

.inputs-recuperar input{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    background: white;
    width: 96%;
    height: 25px;
    border-radius: 9px;
    border: none;
    outline: none;
}

.inputs-recuperar button{
    display: block;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    background: #b1d5ff;
    border:#25B9BD;
    border-radius: 18px;
    font-size: 17px;
    width: 85%;
    padding: 2px;
    cursor: pointer;
}

